* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

a {
    text-decoration: none;
}

.menu__link-text, .widget__body, .widget__btn-text, .banner__description,
.banner__header,.tabs__description, .subscription__text {
    font-style: italic;
}

.container, .aside, .menu__item, .menu__list, .menu__link, .widget, .widget__btn, .btn,
.main, .banner, .banner__content, .banner__header, .banner__description, .tabs,
.tabs__inner, .tabs__item, .tabs__link, .subscription, .subscription__text-wrapper,
.subscription__form, .wrapper-cards, .card, .card__img-wrapper, .card__footer, .footer, 
.footer__links-list, .footer__inner, .footer__item {
    display: flex;
}

a:visited, a:active,
/* .menu__link-text, */
.widget__btn-text,
.tabs__header,
.tabs__description,
.link-text,
.card__header
/* .card__read-more, */
/* .footer__links-list  */
{
    color: #34ACA7;
}

.link-text:hover {
    color: #000000;
}

.input::placeholder, .card__date, .text-splitter, .footer__copyright {
    color: #E5E5E5;
}

.btn {
    align-items: center;
    justify-content: center;

    font-size: 10px;
    line-height: 12px;
}

.container {
    max-width: 1088px;
    margin: 46px auto 0;
    padding: 0 5%;   
    flex-wrap: wrap;
    justify-content: space-between;
}