body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

a {
    outline: none !important;
    text-decoration: none;
}

.btn, .widget__body, .tabs__describe, .subscribe-form__input {
    font-size: 10px;
}

a, a:visited, a:active,
.menu__link-text,
.widget__btn-text,
.tabs__header,
.tabs__describe,
.card__header,
.card__read-more,
.footer__links-list {
    color: #34ACA7;
}

.link-text:hover {
    color: #000000;
}

.input::placeholder, .card__date, .text-splitter, .footer__copyright {
    color: #E5E5E5;
}

.btn {
    align-items: center;
    justify-content: center;
}

.btn__text {
    line-height: 12px;
}

.menu__link-text, .widget__body, .widget__btn-text, .banner__description,
.banner__header,.tabs__describe, .subscribe-form__text {
    font-style: italic;
}

.container, aside, .menu__item, .menu__list, .menu__link, .widget, .widget__btn, .btn,
main, .banner__header-wrapper, .banner__header, .banner__description, .tabs,
.tabs__inner, .tabs__item, .tabs__link, .subscribe-form, .wrapper-cards,
.card, .card__image-wrapper, .card__footer, footer, .footer__links-wrapper,
.footer__links-list, .footer__inner, .footer__item {
    display: flex;
}

.container {
    width: 1088px;
    margin: 46px auto 0px;
    padding: 0 15px;   
    flex-wrap: wrap;
    justify-content: space-between;
}

/*   aside   */

aside {
    width: 140px;
    flex-flow: column nowrap;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../assets/svg/icon-logo.svg");
    align-self: center;
}

.menu__list {
    flex-direction: column;
}

.menu__item {
    padding: 5px 0 35px 3px;
    align-items: flex-start;
}

.menu__icon {
    background-size: cover;
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.food-icon {
    background-image: url("../assets/svg/food-icon.svg");
}

.blog-icon {
    background-image: url("../assets/svg/blog-icon.svg");
}

.list-icon {
    background-image: url("../assets/svg/a-list-icon.svg");
}

.camera-icon {
    background-image: url("../assets/svg/camera-icon.svg");
}

.about-icon {
    background-image: url("../assets/svg/about-icon.svg");
}

.menu__link {
    flex-grow: 1;
    align-items: center;
}

.widget {
    flex-direction: column;
    justify-content: space-between;
}

.widget__header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    margin-bottom: 10px;
    border-bottom: 1px dashed #E5E5E5;
}

.widget__btn {
    justify-content: flex-start;

    height: 30px;
    background-color: #ffffff;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
}

.widget__btn:active {
    background-color: #D9EFEC;
}

.widget__btn-icon{
    width: 16px;
    height: 16px;
    padding-left: 6px;
    background: no-repeat;
}

.tweet-icon {
    background-image: url("../assets/svg/twitter-icon-primary.svg");
}

.widget__body {
    padding-top: 5px;
    padding-bottom: 15px;
    line-height: 19px;
}

/*   main   */

main {
    width: 896px;
    flex-direction: column;
    justify-content: space-between;
}

.banner {
    position: relative;
    height: 445px;
    width: auto;
    background-image: url("../assets/png/baner.png");
    background-position: center center;
    background-size: cover;
}

.banner__header-wrapper {
    flex-direction: column;
    position: absolute;
    bottom: 69px;
}

.banner__header, .banner__description {
    padding: 14px 24px 14px;
    align-items: center;
}

.banner__header {
    width: 272px;
    background-color: #ffffff;
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.banner__description {
    width: 487px;
    background-color: #000000;
    color: #ffffff;
}

.tabs__inner {
    flex-direction: row;
    flex-grow: 1;
}

.tabs__item {
    flex-basis: 100%;
    justify-content: stretch;
}

.tabs__link {
    box-sizing: border-box;
    padding: 26px 0 22px 20px;

    flex-grow: 1;
    flex-direction: column;

    background-color: #EFF8F7;
}

.tabs__link:hover, .tabs__link_active {
    background-color: #D9EFEC;
}

.tabs__header {
    font-size: 18px;
    line-height: 18px;
}

.subscribe-form {
    border-top: 1px dashed #E5E5E5;
    border-bottom: 1px dashed #E5E5E5;
    
    margin: 30px 0;

    align-items: center;
    justify-content: space-around;
}

.subscribe-form__input {
    width: 160px;
    padding: 6px;
    background: #FFFFFF;
    border: 1px solid #E5E5E5;
}

.mail-icon {
    width: 32px;
    height: 26px;
    background-image: url("../assets/svg/mail-icon.svg");
    background-size: cover;
}

.subscribe-form__text {
    padding: 10px 0 10px 0;
    width: 530px;
    line-height: 16px;
}

.input-text {
    line-height: 10px;
}

.subscribe-form__btn {
    width: 80px;
    height: 23px;
    background: linear-gradient(180deg, #F4F3F3 0%, #BBB9B9 100%);
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 2px;
}

.subscribe-form__btn:active {
    background: linear-gradient(360deg, #F4F3F3 0%, #BBB9B9 100%);
}

.wrapper-cards {
    margin-right: -22px;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.card {
    flex-direction: column;
    width: 207px;
    padding-bottom: 50px;
}

.card:not(:last-child) {
    margin-right: 22px;
}

.card__img {
    box-sizing: border-box;
    background-size: cover;
    width: 207px;
    height: 143px;
    border: 11px solid #FFFFFF;
}

.card__image-wrapper {
    box-sizing: border-box;
    border: 1px solid #E5E5E5;
    filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
}

.card__header, .card__body, .card__read-more, .card__date, .text-splitter {
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card__header {
    padding-top: 11px;
    font-size: 16px;
    line-height: 21px;
}

.card__body {
    padding-top: 9px;
    color: black;
}

.card__footer {
    padding-top: 11px;
}

/*   footer   */

footer {
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
    border-top: 2px solid #E5E5E5;
}

.footer__inner {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: stretch;
    padding: 25px 0 35px;
}

.footer__copyright, .footer__link {
    line-height: 20px;
    letter-spacing: -0.02em;
    font-size: 12px;
    line-height: 12px;
}

.footer__links-wrapper {
    padding-left: 8px;
    flex-direction: column;
    justify-content: space-between;
    flex-grow: 1;
}

.footer__links-wrapper li:not(:first-child) {
    padding-left: 4px;
}

.footer__links-wrapper li:not(:last-child) {
    padding-right: 4px;
    border-right: 1px solid #E5E5E5;
}

.footer__icon {
    margin: 0 4px 0 4px;
    width: 32px;
    height: 32px;
    background-size: cover;
}

.twitter-icon {
    background-image: url("../assets/svg/twitter-icon-light-gray.svg");
}

.fb-icon {
    background-image: url("../assets/svg/fb-icon-light-gray.svg");
}

.rss-icon {
    background-image: url("../assets/svg/rss-icon-light-gray.svg");
}


/*   @media   */

@media screen and (max-width: 1176px) {

    .container {
        width: 896px;
    }

    .tabs__link {
        padding: 10px 0 11px 0px;
        align-items: center;
    }

    .tabs__header {
        font-size: 14px;
        line-height: 14px;
    }

    .tabs__describe {
        display: none;
    }

    main {
        width: 712px;
    }

    .subscribe-form__text {
        width: 363px;
    }

    .card {
        width: 159px;
    }

    .card__img {
        width: 159px;
        height: 113px;
    }

}

@media screen and (max-width: 992px) {
    .container {
        width: 716px;
        margin: 0 auto;

        flex-direction: column;
    }

    aside {
        width: auto;
        padding-bottom: 30px;

        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;
    }

    .logo {
        margin: 20px 0;
    }

    .menu {
        display: flex;
        flex-grow: 1;
    }

    .menu__list {
        flex-flow: row wrap;
        justify-content: space-around;
        flex-grow: 1;
    }

    .menu__item {
        padding: 0;
    }

    .menu__icon {
        margin: auto;
        margin-bottom: 12px;
    }

    .menu__link {
        flex-direction: column;
    }

    .list-widget {
        display: none;
    }

    main {
        width: auto;
    }
}

@media screen and (max-width: 768px) {
    
}

@media screen and (max-width: 480px) {
    
}