.footer {
    @include flex (row, nowrap, stretch, space-between, 1);
    width: 100%;

    &__inner {
        @include flex (row, nowrap, stretch, space-between, 1);
        padding: 25px 0 35px;
    }

    &__copyright, &__link {
        @include font (12px, 12px, -0.02em);
    }

    &__item {
        @include flex;
        
        &--links {                
            @include flex (column, nowrap, stretch, space-between, 1);
        }

        &--links li:not(:first-child) {
            padding-left: 4px;
        }

        &--links li:not(:last-child) {
            padding-right: 4px;
            border-right: 1px solid $smokie;
        }
    }

    &__links-list {
        @include flex;
    }

    &__icon {
        @include flex;
        
        &::before{
            margin: 0 4px 0 4px;
        }        
    }
}