.menu__link-text, .widget__body, .widget__btn-text, .banner__description,
.banner__header,.tabs__description, .subscription__text {
    font-style: italic;
}

a:visited, a:active,
/* .menu__link-text, */
.widget__btn-text,
.tabs__header,
.tabs__description,
.link-text,
.card__header
/* .card__read-more, */
/* .footer__links-list  */
{
    color: $primary;
}

.link-text:hover {
    color: $dark;
}

.input::placeholder, .card__date, .text-splitter, .footer__copyright {
    color: $smokie;
}

.btn {
    @include flex (row, wrap, center, center, 0);
    @include font (10px, 12px);
}

.container {
    @include flex (row, wrap, normal, space-between, 0);

    max-width: 1088px;
    margin: 46px auto 0;
    padding: 0 5%;
}