// @mixin font-face ($font-family, $file-path, $weight: normal, $style: normal) {
//     @font-face {
//         font-family: $font-family;
//         font-weight: $weight;
//         font-style: $style;
//         src: url('#{$file-path}.eot');
//         src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
//             url('#{$file-path}.woff') format('woff'),
//             url('#{$file-path}.ttf') format('truetype');   
//     }
// }


@mixin font ($size: 14px, $lh: 14px, $ls: normal) {
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}
   
@mixin flex ($fd: row, $fw: nowrap, $ai: normal, $jc: normal, $fg: 0 ) {
    display: flex;
    flex-flow: $fd $fw;
    align-items: $ai;
    justify-content: $jc;
    flex-grow: $fg;
}

/*============== ICONS ============== */

@mixin icon ($icon-name, $icon-size) {
    .#{$icon-name}-icon-#{$icon-size} {
        height: #{$icon-size}px;
        width: #{$icon-size}px;

        background: url("../../img/svg/#{$icon-size}-#{$icon-name}.svg") no-repeat center center / cover;
    }
}

@each $icon, $sizes in $icons {
    @each $size in $sizes {
      @include icon($icon, $size);
    }
}