
/*============== FONT ============== */

@mixin font-face ($font-family, $file-path, $weight: normal, $style: normal) {
    @font-face {
        font-family: $font-family;
        font-weight: $weight;
        font-style: $style;
        src: url('../#{$file-path}.eot');
        src: url('../#{$file-path}.eot?#iefix') format('embedded-opentype'),
            url('../#{$file-path}.woff') format('woff'),
            url('../#{$file-path}.ttf') format('truetype');   
    }
}


@mixin font ($size: 14px, $lh: 14px, $ls: normal) {
    font-size: $size;
    line-height: $lh;
    letter-spacing: $ls;
}

/*============== FLEX ============== */

@mixin flex ($fd: row, $fw: nowrap, $ai: normal, $jc: normal, $fg: 0 ) {
    display: flex;
    flex-flow: $fd $fw;
    align-items: $ai;
    justify-content: $jc;
    flex-grow: $fg;
}

/*============== ICONS ============== */

@mixin icon ($icon-name, $icon-size) {
    .#{$icon-name}-icon-#{$icon-size}::before {
        content: '';
        height: #{$icon-size}px;
        width: #{$icon-size}px;
        min-width: #{$icon-size}px;

        background: url("../../assets/img/svg/#{$icon-size}-#{$icon-name}.svg") no-repeat center center / cover;
    }
}

@each $icon, $sizes in $icon-map {
    @each $size in $sizes {
      @include icon($icon, $size);
    }
}

/*============== BORDERS ============== */

$style-list: solid dashed;

@mixin border ($border, $pos, $width, $style, $color-sign, $color) {
    .#{$border}-#{$width}-#{$style}-#{$color-sign} {
        #{$pos}: #{$width}px $style $color;
    }    
}

@for $width from 1 through 11 {
    @each $style in $style-list {
        @each $color-sign, $color in $color-map {
            @each $border, $pos in $border-map {
                @include border ($border, $pos, $width, $style, $color-sign, $color);
            }
        }        
    }    
}

/*=============== MEDIA =============== */

@mixin _1176 {
    @media (max-width: 1176px) {
        @content;
    }    
}

@mixin _992 {
    @media (max-width: 992px) {
        @content;
    }    
}

@mixin _768 {
    @media (max-width: 768px) {
        @content;
    }    
}

@mixin _480 {
    @media (max-width: 480px) {
        @content;
    }    
}

@mixin _370 {
    @media (max-width: 370px) {
        @content;
    }    
}