
/* ======= COLORS ======= */

$dark: #000;
$white: #fff;
$primary: #34aca7;
$light: #eff8f7;
$light-active: #d9efec;
$smokie: #e5e5e5;

$color-map: (
    "wh": $white,
    "smo": $smokie
);

/* ======== ICONS ======== */

$icon-map: (
    "logo": 120,
    "food": 30,
    "blog": 30,
    "list": 30,
    "camera": 30,
    "about": 30,
    "mail": 36,
    "twitter": (16, 32),
    "fb": 32,
    "rss": 32 
);

/* ======== BORDERS ======== */

$border-map: (
    "b": border,
    "bt": border-top,
    "br": border-right,
    "bb": border-bottom,
    "bl": border-left
);