.banner {
    @include flex (row, nowrap, flex-end, space-between, 0);
    position: relative;
    height: 445px;
    background: url("../img/png/banner.png") no-repeat center center;
    background-size: cover;

    &__content {
        @include flex (column, nowrap, flex-start, normal, 0);    
        position: absolute;
        bottom: 69px;
    }

    &__header, &__description {
        @include flex (column, nowrap, center, normal, 0);
        padding: 14px 24px 14px;
    }

    &__header {
        @include font (22px, 22px, 0.01em);
        background-color: $white;
    }

    &__description {
        width: 487px;
        background-color: $dark;
        color: $white;
    }
}