.wrapper-cards {
    @include flex (row, wrap, normal, flex-start, 0);
    margin-right: -25px;
}

.card {
    @include flex (column);
    max-width: calc(25% - 25px);
    padding-bottom: 5%;

    &:not(:last-child) {
        margin-right: 25px;
    }

    &__img {
        background-size: cover;
        max-width: 100%;
        height: auto;
        border: 11px solid $white;
    }

    &__img-wrapper {
        border: 1px solid $smokie;
        filter: drop-shadow(0px 1px 2px rgba(0, 0, 0, 0.25));
    }

    &__header, &__body, &__read-more, &__date {
        @include font (14px, 20px, -0.02em);
    }

    &__header {
        padding-top: 11px;

        @include font (16px, 21px);
    }

    &__body {
        padding-top: 9px;
        color: $dark;
    }

    &__footer {
        @include flex;
        padding-top: 11px;
    }
}

.text-splitter {
    @include font (14px, 20px, -0.02em);
}