body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

a {
    outline: none !important;
    text-decoration: none;
}

a:visited, a:active {
    color: #34ACA7;
}

input, .button-text, .aside-text {
    font-size: 10px;
}

input {
    line-height: 10px;
}

.aside-menu-item,
.aside-button,
.tab-name,
.tab-describe,
.card-header,
.read-more,
.footer-links {
    color: #34ACA7;
}

.date, .footer-copyright {
    color: #E5E5E5;
}

.button-text {

    line-height: 12px;
}

.container,
aside, .aside-menu-item, .aside-menu-link, .aside-tweet, .aside-friends, .aside-friends,
main,
footer {
    display: flex;
}

.container {
    margin: 46px auto 0;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1088px;
}

aside {
    width: 140px;
    flex-flow: column nowrap;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../assets/svg/icon-logo.svg"); 

    align-self: center;
}

.aside-menu-item {
    padding: 5px 0 0 3px;
    align-items: flex-start;

    height: 66px;
    font-style: italic;
}

.aside-menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 12px;
}

.aside-menu-link {
    width: 100%;
    align-items: center;
}

.aside-menu-link:hover {
    color: black;
}

.aside-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    padding: 5px 0 5px 0;
    border-bottom: 1px dashed #E5E5E5;
}

.aside-button {
    height: 30px;
    background-color: #fff;
    border: 1px solid #E5E5E5;
    box-sizing: border-box;
    border-radius: 5px;
    font-style: italic;
}

.aside-tweet {
    height: 61px;
}

.aside-tweet, .aside-friends {
    flex-direction: column;
    justify-content: space-between;
}

.aside-tweet-icon {
    width: 16px;
    height: 16px;
}

.aside-friends {
    height: 133px;
}

.aside-text {
    line-height: 19px;
    font-style: italic;
}

main {
    width: 896px;
}

.banner-header {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.tab-name {
    font-size: 18px;
    line-height: 18px;
}

.card-header, .card-body, .read-more, .date, .footer-text {
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card-header {
    font-size: 16px;
    line-height: 21px;
}

footer {
    width: 100%;
}

.footer-text {
    font-size: 12px;
    line-height: 12px;
}