body {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 14px;
}

a {
    outline: none !important;
    text-decoration: none;
}

a:visited, a:active {
    color: #34ACA7;
}

input, .button-text, .aside-text {
    font-size: 10px;
}

input {
    line-height: 10px;
}

.aside-menu-item,
.aside-button,
.tab-name,
.tab-describe,
.card-header,
.read-more,
.footer-links {
    color: #34ACA7;
}

.date, .footer-copyright {
    color: #E5E5E5;
}



.button-text {
    line-height: 12px;
}

.container, aside, .aside-menu-item, menu, footer {
    display: flex;
}

.container {
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1088px;
}

aside {
    width: 140px;
    flex-flow: column nowrap;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../assets/svg/icon-logo.svg"); 

    align-self: center;
}

.aside-menu-item {
    padding: 5px 0 0 3px;

    height: 66px;
    font-style: italic;
}

.aside-menu-icon {
    width: 30px;
    height: 30px;
    margin-right: 12px;
    /* background-image: url("../assets/svg/food-icon.svg"); */
}

.aside-menu-link {
    width: 100%;
}

.aside-header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.aside-text {
    line-height: 19px;
    font-style: italic;
}

main {
    width: 896px;
}

.banner-header {
    font-size: 22px;
    line-height: 22px;
    letter-spacing: 0.01em;
}

.tab-name {
    font-size: 18px;
    line-height: 18px;
}

.card-header, .card-body, .read-more, .date, .footer-text {
    line-height: 20px;
    letter-spacing: -0.02em;
}

.card-header {
    font-size: 16px;
    line-height: 21px;
}

footer {
    width: 100%;
}

.footer-text {
    font-size: 12px;
    line-height: 12px;
}