.ant-btn-primary {
  margin-left: 20px;

  border: none;
  background-color: $violet;

  color: $white;

  &:hover {
    background-color: $violet-hover;
    color: $white;
  }

  &:active,
  &:focus {
    background-color: $violet;
  }
}
