.ant-btn.ant-btn-block {
  border: none;

  width: 100%;

    border-radius: 0;
  &:hover {
    color: $violet;
    background-color: #f3edf7;
  }

  &:active, &:focus {
      box-shadow: none;
      border: none;

      background-color: lighten($color: $violet, $amount: 30);
      color: $white;
  }
}
.ant-dropdown, .ant-dropdown-menu, .ant-dropdown-menu-item {
  padding: 0;
}