.tabs {
    @include flex;
    cursor: pointer;

    @include _768 {
        display: none;
    }

    &__inner {
        @include flex (row, wrap, normal, normal, 1);
    }

    &__item {
        @include flex (column, nowrap, normal, normal, 1);
        
        padding: 26px 0 22px 20px;
        background-color: $light;

        @include _1176 {
            padding: 10px 15px;
            align-items: center;
        }
    }

    &__item:hover, &__item--active {
        background-color: $light-active;
    }

    &__header {
        @include font (18px, 18px);
        @include _1176 {
            @include font (14px, 14px);
        }
    }

    &__description {
        @include font (10px, 18px);
        @include _1176 {
            display: none;
        }
    }
}