.tabs {
    @include flex;
    cursor: pointer;

    @include _768 {
        display: none;
    }

    &__inner {
        @include flex (row, wrap, normal, normal, 1);
        width: 100%
    }

    &__item {
        @include flex (column, wrap, normal, normal, 1);
        padding: 3% 0 3% 2%;

        background-color: $light;

        @include _1176 {
            padding: 10px 15px;
            
            align-items: center;
        }
    }

    &__item:hover, &__item--active {
        background-color: $light-active;
    }

    &__header, &__description {
        width: 100%
    }

    &__header {
        @include font (18px, 18px);
        @include _1176 {
            @include font (14px, 14px);
        }
    }

    &__description {
        @include font (10px, 18px);
        max-width: 150px;

        @include _1176 {
            display: none;
        }
    }
}