.aside {
    @include flex (column, nowrap, none, flex-start, 0);
    width: 140px;
}

.logo {
    width: 120px;
    height: 120px;

    background-image: url("../img/svg/icon-logo.svg");
    background-repeat: no-repeat;

    align-self: center;
}