.aside {
    display: flex;
    width: 140px;
    flex-flow: column nowrap;
}

.logo {
    width: 120px;
    height: 120px;
    background-image: url("../img/svg/icon-logo.svg");
    align-self: center;
}

