$white: #ffffff;
$header-color: #1d262c;
$light-grey: #e0e0e0;
$grey: #90a0b7;
$pink: #f3477a;

$primary-color: #884cb2;
$primary-color-hover: adjust-hue($primary-color, -20deg);

$shadow-color: #8ca4d8;

$pending-color: #f2994a;
$inprogress-color: #56ccf2;
$completed-color: #27ae60;
$cancelled-color: #eb5757;

$minor-color: #219653;
$normal-color: #f2c94c;
$critical-color: #eb5757;

$message-color: #555555;
$message-default-bg: #f3f3f3;
$title-user-color: #5787a4;
$creation-message-bg: linear-gradient(90deg, #dae4f4 0%, #d3dcf1 100%);

$link-color: #56ccf2;

$err-color: rgb(206, 0, 0);
