@media screen and (max-width: 370px) {

    /*  FOOTER  */

    .footer__inner {
        padding: 15px 0px 15px;
    }

    .footer__item--links {
        padding-right: 10px;
    }

    .footer__copyright {
        padding-top: 10px;
    }

    .footer__icon {
        width: 25px;
        height: 25px;
    }
}