@media screen and (max-width: 480px) {

    .container {
        padding: 0;
    }

    /*  ASIDE  */

    .aside {
        flex-flow: column-reverse nowrap;

        padding: 15px 0 30px;
        margin-bottom: 10px;
    }

    .logo {
        margin: 35px 0 0;
    }

    .menu__list {
        justify-content: center;
    }

    /*  MAIN  */

    .banner {
        height: 370px;
    }

    .subscription__form {
        justify-content: flex-start;
    }

    .subscription__input {
        max-width: 210px;
    }

    .wrapper-cards {
        margin: 0;

        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: 80%;
    }

    .card:not(:last-child) {
        margin: 0;
    }

    /*  FOOTER  */

    .footer {
        width: 90%;
    }
}