@media screen and (max-width: 768px) {

    /*  ASIDE  */

    .aside {
        padding-bottom: 20px;
    }

    .menu__icon {
        display: none;
    }

    .menu__list {
        justify-content: space-between;
    }

    .menu__item {
        padding-top: 4%;
    }

    .menu__item:not(:last-child) {
        padding-right: 4%;
    }

    /*  MAIN  */

    .banner {
        height: 350px;
    }

    .banner__content {
        position: static;

        align-items: stretch;
        flex-grow: 1;
    }

    .banner__header {
        width: auto;

        opacity: 0.6;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
    }

    .banner__description {
        width: auto;
    }

    .tabs {
        display: none;
    }

    .subscription {
        flex-wrap: wrap;
    }

    .subscription__form {
        flex-grow: 1;

        padding: 16px 0 6px;
        max-width: 100%;
    }

    .subscription__input {
        flex-grow: 1;
    }

    .card {
        max-width: calc(50% - 25px);
    }
}