.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;

  background-color: $light-grey;
}

.title {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;

  margin: 50px auto 50px;
}

.gameWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  max-width: 860px;

  padding: 30px;

  background-color: $white;

  @media screen and (max-width: 360px) {
    flex-direction: column;

    padding: 20px;
  }
}

.bgc-health {
  background-color: $health-color;
}

.bgc-thirst {
  background-color: $thirst-color;
}

.bgc-hungry {
  background-color: $hungry-color;
}

.bgc-fatigue {
  background-color: $fatigue-color;
}

.col {
  display: flex;
  flex-grow: 1;
  max-width: 380px;
  min-height: 195px;

  padding: 20px;  

  box-shadow: inset 0px 0px 3px rgba(0, 0, 0, 0.7);
}
