.btns {
  &__list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  &__item {
    padding: 8px;

    border: none;
    border-radius: 5px;
    outline-color: $dark-grey;

    color: $white;
    font-weight: 500;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-bottom: 12px;
    }

    &.bgc-health {
      box-shadow: 0px 0px 3px rgba(231, 76, 60, 0.5);

      &:hover,
      &:active {
        background-color: #c0392b;
      }
    }

    &.bgc-thirst {
      box-shadow: 0px 0px 3px rgba(52, 152, 219, 0.5);
      &:hover,
      &:active {
        background-color: #2980b9;
      }
    }

    &.bgc-hungry {
      box-shadow: 0px 0px 3px rgba(230, 126, 34, 0.5);
      &:hover,
      &:active {
        background-color: #d35400;
      }
    }

    &.bgc-fatigue {
      box-shadow: 0px 0px 3px rgba(149, 165, 166, 0.5);
      &:hover,
      &:active {
        background-color: #7f8c8d;
      }
    }
  }
}
