.food-icon {
    background-image: url("../img/svg/food-icon.svg");
}

.blog-icon {
    background-image: url("../img/svg/blog-icon.svg");
}

.list-icon {
    background-image: url("../img/svg/a-list-icon.svg");
}

.camera-icon {
    background-image: url("../img/svg/camera-icon.svg");
}

.about-icon {
    background-image: url("../img/svg/about-icon.svg");
}

.twIcon-primary {
    background-image: url("../img/svg/twitter-icon-primary.svg");
}

.mail-icon {
    background-image: url("../img/svg/mail-icon.svg");
}

.twIcon-gray {
    background-image: url("../img/svg/twitter-icon-light-gray.svg");
}

.fb-icon {
    background-image: url("../img/svg/fb-icon-light-gray.svg");
}

.rss-icon {
    background-image: url("../img/svg/rss-icon-light-gray.svg");
}