@import './base/fonts';
@import './base/variables';

@import './layout/container';
@import './layout/header';
@import './layout/main';
@import './layout/aside';

body {
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(115.67deg, #EDC1D3 7.14%, #91BDEC 99.42%);

    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

h1 {
    font-weight: 700;
    font-size: 36px;
    color: $header-color;
}